.custom-icon {
    width: 16px;
    height: 16px;
}

.topmailtext span,
.topphonetext span {
    font-size: 12px;
    margin-left: 6px;
    font-weight: 700;
}

.topmailtext,
.topphonetext {
    display: flex;
}

.topcontact {
    width: 90%;
    margin: 15px auto;
    display: flex;
    justify-content: space-between;
}

.icon-container {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid #000;
}

.icon-container .custom-icon {
    width: 12px;
    height: 12px;
}

.topbutton .btn {
    background-color: #C82424;
    color: #fff;
    width: 126px;
    padding: 10px;
    font-size: 12px;
    border: none;
    font-family: Merriweather;
}

.topsocial {
    width: 75%;
    margin: 14px auto 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mainmenu {
    display: flex;
    width: 90%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    padding: 4px;
}

.topbar {
    border-bottom: 0.1px solid rgb(199, 197, 197);
}

.nav .navicon {
    color: #C82424
}


@media (min-width:601px) {

    .topbar {
        display: flex;
    }

    .topcontact {
        width: 35%;
        margin: 15px auto;
        display: flex;
        justify-content: flex-start;
    }

    .topsocial {
        width: 35%;
        margin: 0 auto;
        display: flex;
        justify-content: flex-end;
    }

    .topbutton {
        height: 100%;
        display: flex;
    }

    .topbar .btn {
        flex: 1;
    }

    .topmailtext {
        margin-right: 5%;
    }

    .topbutton {
        margin-left: 5%;
    }

}


@media (max-width:600px) {

    .navitems {
        display: none;
    }
}



@media (min-width:601px) {

    .mobile-menu {
        display: none;
    }

    .navitems ul {
        display: flex;
        list-style: none;
    }

    .navitems ul li:not(:last-child) {
        margin-right: 10px;
    }

}

@media (min-width:601px) and (max-width:900px) {

    .topcontact {
        width: 45%;
    }
}